* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(164, 170, 170);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 221, 221);
    padding: 20px 100px;
    color: black;

}

nav ul {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.a {
    font-weight: 600;
}

.right button {
    background-color: black;
    padding: 3px 25px;
    border-radius: 10px;
}

.right button a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.logo {
    width: 30px;
    padding-right: 10px;
}

.container {
    background-color: rgb(164, 170, 170);
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama h2 {
    margin-top: 30px;
    padding: 20px;
}

.kolom-utama p {
    margin-top: -15px;
    padding: 20px;
    margin-bottom: 70px;
    line-height: 25px;
}


.kolom-utama button {
    background-color: black;
    padding: 2px 30px;
    border-radius: 20px;
}

.kolom-utama button a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.kolom-utama .cv {
    display: inline;
}

.icon {
    padding: 50px 10px;
    font-size: 30px;
}

.icon a {
    padding-left: 15px;
    color: black;
    text-decoration: none;
}

.kolom-kedua {
    border: 0.2px rgb(71, 69, 69) solid;
    box-shadow: 0 0 5px black;
}

.card-body {
    text-align: center;
}



.container-f {
    max-width: 700px;
    width: 100%;
    background-color: aliceblue;
    padding: 25px;
    margin: 20px auto;
    border: 8px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);

}

.container-f header {
    font-size: 40px;
    font-weight: 550px;
    text-align: center;
}

.container-f .form {
    margin-top: 20px;
}

input,
select,
textarea {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.tombol {
    background-color: black;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    float: right;
    margin-top: -10px;
    cursor: pointer;
}

.kontak {
    cursor: pointer;
}


@media(min-width: 600px) {
    .nav {
        justify-content: space-between;
        display: flex;
    }

    nav ul {
        display: flex;
        list-style: none;
        width: 23%;
        justify-content: space-around;
    }
}